$tab-color:#d5dbdb;
$tab-background-active: #6437cc;
$tab-active-color: #d9d2e7;
$tab-item-background-hover: #443d6e;
$tab-background: #221c1c;
$tab-content-background:#221C1C;
$titlebar-icon-color: #D945DF;