<div class="title-bar lz-r-topicmenu hamburger" data-responsive-toggle="topics-collapse" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">{{topic}}</div>
</div>

<div class="top-bar fast lz-r-topicmenu dropdown outer" id="topics-collapse" data-animate="slide-in-down slide-out-up">
    <ul class="vertical menu dropdown">
        <li >
            <a  href="/deploy/deploy_overview.html">
                <span class="{{#ifpage 'deploy_overview'}}lz-r-topicitem{{/ifpage}}">Deployment Overview</span>
            </a>
        </li>
        <li >
            <a  href="/deploy/deploy_awsbasics.html"> &nbsp;&nbsp;&nbsp;
                <span class="{{#ifpage 'deploy_awsbasics'}}lz-r-topicitem{{/ifpage}}">AWS Account Basics</span>
            </a>
        </li>

        <li >
            <a  href="/deploy/deploy_checklist.html">&nbsp;&nbsp;&nbsp;
                <span class="{{#ifpage 'deploy_checklist'}}lz-r-topicitem{{/ifpage}}">Deployment Checklist</span>
            </a>
        </li>      
        <li >
            <a  href="/deploy/deploy_petstore.html">&nbsp;&nbsp;&nbsp;
                <span class="{{#ifpage 'deploy_petstore'}}lz-r-topicitem{{/ifpage}}">PetStore Stack Deployment</span>
            </a>
        </li>
        <li >
            <a  href="/deploy/deploy_lazystack.html"> &nbsp;&nbsp;&nbsp;
                <span class="{{#ifpage 'deploy_lazystack'}}lz-r-topicitem{{/ifpage}}">LazyStack Deployment</span>
            </a>
        </li>
    </ul>
</div>