<div class="title-bar lz-r-topicmenu hamburger" data-responsive-toggle="topics-collapse" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">{{topic}}</div>
</div>

<div class="top-bar fast lz-r-topicmenu dropdown outer" id="topics-collapse" data-animate="slide-in-down slide-out-up">
    <ul class="vertical menu dropdown">


        <li >
            <a  href="/installation/installation_overview.html">
                <span class="{{#ifpage 'installation_overview'}}lz-r-topicitem{{/ifpage}}">Overview</span>
            </a>
        </li>

        <li >
            <a  href="/installation/installation_devtools.html">
                <span class="{{#ifpage 'installation_devtools'}}lz-r-topicitem{{/ifpage}}">Configure Developer Workstation</span>
            </a>
        </li>

        <div style="display: {{#ifequal install 'dev'}}inline{{else}}none{{/ifequal}}">
            <li >
                <a  href="/installation/installation_awsdevprofilesteps.html"> &nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awsdevprofilesteps'}}lz-r-topicitem{{/ifpage}}">Step 1 - Dev Profile Setup</span>
                </a>
            </li>


            <li >
                <a  href="/installation/installation_netcorecli.html">&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_netcorecli'}}lz-r-topicitem{{/ifpage}}">Step 2 - .NET CLI Tool</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_visualstudio.html">&nbsp;&nbsp;&nbsp;
                    <span>Step 3 - Visual Studio IDE</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_visualstudio.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_visualstudio'}}lz-r-topicitem{{/ifpage}}">Step 3.1 - VS IDE Windows</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_mac_visualstudio.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_mac_visualstudio'}}lz-r-topicitem{{/ifpage}}">Step 3.2 - VS IDE MacOS</span>
                </a>
            </li>
        </div>


        <li >
            <a  href="/installation/installation_aws.html">
                <span class="{{#ifpage 'installation_aws'}}lz-r-topicitem{{/ifpage}}">Configure LazyStack SMF</span>
            </a>
        </li>

        <div style="display: {{#ifequal install 'smf'}}inline{{else}}none{{/ifequal}}">

            <li >
                <a  href="/installation/installation_awsorgsetup.html"> &nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awsorgsetup'}}lz-r-topicitem{{/ifpage}}">Step 1 - Create AWS Org</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_mgmtscripts.html"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_mgmtscripts'}}lz-r-topicitem{{/ifpage}}">1.1 Configure Mgmt. Workstation</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_awsmgmtacct.html"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awsmgmtacct'}}lz-r-topicitem{{/ifpage}}">1.2 Create Mgmt. Acct.</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_awsorgsetupsteps.html"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awsorgsetupsteps'}}lz-r-topicitem{{/ifpage}}">1.3 Create Organization</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_awsdevsetupsteps.html"> &nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awsdevsetupsteps'}}lz-r-topicitem{{/ifpage}}">Step 2 - Create Dev Account</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_awstestacctsetupsteps.html"> &nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awstestacctsetupsteps'}}lz-r-topicitem{{/ifpage}}">Part 3 - Create Test Acct.</span>
                </a>
            </li>
            <li >
                <a  href="/installation/installation_awscicdsetupsteps.html"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awscicdsetupsteps'}}lz-r-topicitem{{/ifpage}}">Step 3.1 - Setup Stack CI/CD</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_awsprodacctsetupsteps.html"> &nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awsprodacctsetupsteps'}}lz-r-topicitem{{/ifpage}}">Part 4 - Create Prod Acct.</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_awscicdsetupsteps2.html"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awscicdsetupsteps2'}}lz-r-topicitem{{/ifpage}}">Step 4.1 - Setup Stack CD</span>
                </a>
            </li>

            <li >
                <a  href="/installation/installation_awsdepguide.html"> &nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'installation_awsdepguide'}}lz-r-topicitem{{/ifpage}}">Deployment Summary</span>
                </a>
            </li>
        </div>


    </ul>
</div>
