<div class="title-bar lz-r-topicmenu hamburger" data-responsive-toggle="topics-collapse" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">{{topic}}</div>
</div>

<div class="top-bar fast lz-r-topicmenu dropdown outer" id="topics-collapse" data-animate="slide-in-down slide-out-up" style="white-space: nowrap">
    <ul class="vertical menu dropdown manual-list">
        <li>
            <a  href="/libraries/libraries_overview.html">
                <span class="{{#ifpage 'libraries_overview'}}lz-r-topicitem{{/ifpage}}">Overview</span>
            </a>
        </li>
    
        <li>
            <a  href="/libraries/lazystackauth/lazystackauth_lazystackauth.html">
                <span class="{{#ifpage 'lazystackauth_lazystackauth'}}lz-r-topicitem{{/ifpage}}">LazyStackAuth</span>
            </a>
        </li>

        <div style="display: {{#ifequal libraries 'lazystackauth'}}inline{{else}}none{{/ifequal}}">
            <ul>
            <li>
                <a  href="/libraries/lazystackauth/lazystackauth_authmessages.html">
                    <span class="{{#ifpage 'lazystackauth_authmessages'}}lz-r-topicitem{{/ifpage}}">AuthMessages</span>
                </a>
            </li>

            <li>
                <a  href="/libraries/lazystackauth/lazystackauth_authprovider.html">
                    <span class="{{#ifpage 'lazystackauth_authprovider'}}lz-r-topicitem{{/ifpage}}">AuthProvider</span>
                </a>
            </li>

            <li>
                <a  href="/libraries/lazystackauth/lazystackauth_authprocess.html">
                    <span class="{{#ifpage 'lazystackauth_authprocess'}}lz-r-topicitem{{/ifpage}}">AuthProcess</span>
                </a>
            </li>

            <li>
                <a  href="/libraries/lazystackauth/lazystackauth_lzhttpclient.html">
                    <span class="{{#ifpage 'lazystackauth_lzhttpclient'}}lz-r-topicitem{{/ifpage}}">LzHttpClient</span>
                </a>
            </li>
        </ul>
        </div>
        <li>
            <a  href="/libraries/getawssettings/getawssettings_getawssettings.html">
                <span class="{{#ifpage 'getawssettings_getawssettings'}}lz-r-topicitem{{/ifpage}}">GetAwsSettings</span>
            </a>
        </li>

        <li>
            <a  href="/libraries/dynamodb/dynamodb_overview.html">
                <span class="{{#ifpage 'dynamodb_overview'}}lz-r-topicitem{{/ifpage}}">DynamoDBRepo</span>
            </a>
        </li>

        <div style="display: {{#ifequal libraries 'dynamodb'}}inline{{else}}none{{/ifequal}}">
            <ul>
            <li>
                <a  href="/libraries/dynamodb/dynamodb_ermodel.html">
                    <span class="{{#ifpage 'dynamodb_ermodel'}}lz-r-topicitem{{/ifpage}}">PetStore ER Model</span>
                </a>
            </li>

            <li>
                <a  href="/libraries/dynamodb/dynamodb_intro.html">
                    <span class="{{#ifpage 'dynamodb_intro'}}lz-r-topicitem{{/ifpage}}">DynamoDB Intro</span>
                </a>
            </li>
        </ul>
        </div>

    </ul>
</div>