
<ul class="vertical menu accordion-menu" id="docmenu" data-accordion-menu 
    data-submenu-toggle="true">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/intro/intro_business_saas.html">Business Stakeholders Intro</a>
        <ul class="menu vertical nested {{#ifequal menu0 'business'}}is-active{{/ifequal}}">

            <li class="{{#ifpage 'intro_business_saas'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_business_saas.html">Startup In-a-Box</a>
            </li>
            <li class="{{#ifpage 'intro_business_mdd'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_business_mdd.html">Go to Market Fast</a>
            </li>
            <li class="{{#ifpage 'intro_business_serverless'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_business_serverless.html">Scale Your Vision</a>
            </li>
        </ul>
    </li>
    <li><a href="/intro/intro_tech_saas.html">Technical Stakeholders Intro</a>
        <ul class="menu vertical nested {{#ifequal menu0 'tech'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'intro_tech_saas'}}is-active{{/ifpage}} menupage"><a
                    href="/intro/intro_tech_saas.html">LazyStack SaaS</a>
            </li>
            <li class="{{#ifpage 'intro_tech_mdd'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_tech_mdd.html">LazyStack MDD</a>
            </li>
            <li class="{{#ifpage 'intro_tech_serverless'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_tech_serverless.html">AWS Serverless</a>
            </li>            
            <li class="{{#ifpage 'intro_tech_security'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_tech_security.html">Security First</a>
            </li>
        </ul>
    </li>
    <li class="{{#ifpage 'saas'}}is-active{{/ifpage}} menupage">
        <a href="/saas/saas.html">LazyStack SaaS</a>
        <ul class="menu vertical nested {{#ifequal menu0 'saas'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'saas_features'}}is-active{{/ifpage}} menupage">
                <a href="/saas/saas_features.html">Features</a>
            </li>
            <li class="{{#ifpage 'saas_arch'}}is-active{{/ifpage}} menupage">
                <a href="/saas/arch/saas_arch.html">Architecture</a>    
                <ul class="menu vertical nested {{#ifequal menu1 'arch'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'saas_arch_spa'}}is-active{{/ifpage}} menupage">
                        <a href="/saas/arch/saas_arch_spa.html">SPA</a>
                    </li>
                    <li class="{{#ifpage 'saas_arch_assets'}}is-active{{/ifpage}} menupage">
                        <a href="/saas/arch/saas_arch_assets.html">Assets</a>
                    </li>
                    <li class="{{#ifpage 'saas_arch_api'}}is-active{{/ifpage}} menupage">
                        <a href="/saas/arch/saas_arch_api.html">ApiGateway</a>
                    </li>
                    <li class="{{#ifpage 'saas_arch_cf'}}is-active{{/ifpage}} menupage">
                        <a href="/saas/arch/saas_arch_cf.html">CloudFront</a>
                    </li>
                </ul>
            </li>
            <li class="{{#ifpage 'saas_ce'}}is-active{{/ifpage}} menupage">
                <a href="/saas/saas_ce.html">Community Edition</a>
            </li>
            <li class="{{#ifpage 'saas_ee'}}is-active{{/ifpage}} menupage">
                <a href="/saas/saas_ee.html">Enterprise Edition</a>
            </li>

        </ul>
    </li>

    <li class="{{#ifpage 'mdd'}}is-active{{/ifpage}} menupage"><a href="/mdd/mdd.html">LazyStack MDD</a>
        <ul class="menu vertical nested {{#ifequal menu0 'mdd'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'mdd_install_overview'}}is-active{{/ifpage}} menupage">
                <a href="/mdd/install/mdd_install_overview.html">Installation</a>
                <ul class="menu vertical nested {{#ifequal menu1 'install'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'mdd_install_config_dev_profile'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/install/mdd_install_config_dev_profile.html">1) Configure Workstation</a>
                    </li>
                    <li class="{{#ifpage 'mdd_install_netcore_cli'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/install/mdd_install_netcore_cli.html">2) .NET CLI Tool</a>
                    </li>
                    <li class="{{#ifpage 'mdd_install_visualstudio'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/install/mdd_install_visualstudio.html">3) VS IDE Windows</a>
                    </li>
                    <li class="{{#ifpage 'mdd_install_visualstudio_mac'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/install/mdd_install_visualstudio_mac.html">4) VS IDE MacOS</a>
                    </li>
                </ul>                
            </li>
            <li class="{{#ifpage 'mdd_tutorial_intro'}}is-active{{/ifpage}} menupage">
                <a href="/mdd/tutorial/mdd_tutorial_intro.html">Tutorials</a>
                <ul class="menu vertical nested {{#ifequal menu1 'tutorials'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'mdd_tutorial_vswin_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/tutorial/mdd_tutorial_vswin_overview.html">Visual Studio Windows</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'vswin'}}is-active{{/ifequal}}">
                            <li class="{{#ifpage 'mdd_tutorial_vswin_lazystack'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_lazystack.html">1) Clone LazyStack</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vswin_petstore'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_petstore.html">2) PetStore</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vswin_repo'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_repo.html">3) PetStoreRepo Project</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vswin_controllers'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_controllers.html">4) ControllerImpl Projects</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vswin_configure'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_configure.html">5) Configure LazyStack</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vswin_publishtoaws'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_publishtoaws.html">6) Publish to AWS</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vswin_testlocalwebapi'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_testlocalwebapi.html">7) Test Local WebAPI</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vswin_petstoretest'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_petstoretest.html">8) PetStore Test</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vswin_consoleapp'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vswin_consoleapp.html">9) Console App</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{{#ifpage 'mdd_tutorial_vsmac_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/tutorial/mdd_tutorial_vsmac_overview.html">Visual Studio MacOS</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'vsmac'}}is-active{{/ifequal}}">
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_lazystack'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_lazystack.html">1) Clone LazyStack</a>
                            </li>                    
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_petstore'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_petstore.html">2) PetStore</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_repo'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_repo.html">3) PetStoreRepo Project</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_controllers'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_controllers.html">4) ControllerImpl Projects</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_configure'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_configure.html">5) Configure LazyStack</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_publishtoaws'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_publishtoaws.html">6) Publish to AWS</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_testlocalwebapi'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_testlocalwebapi.html">7) Test Local WebAPI</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_petstoretest'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_petstoretest.html">8) PetStore Test</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_vsmac_consoleapp'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_vsmac_consoleapp.html">9) Console App</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{{#ifpage 'mdd_tutorial_cli_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/tutorial/mdd_tutorial_cli_overview.html">.NET CLI</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'cli'}}is-active{{/ifequal}}">
                            <li class="{{#ifpage 'mdd_tutorial_cli_lazystack'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_lazystack.html">1) Clone LazyStack</a>
                            </li>                       
                            <li class="{{#ifpage 'mdd_tutorial_cli_petstore'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_petstore.html">2) PetStore</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_cli_repo'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_repo.html">3) PetStoreRepo Project</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_cli_controllers'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_controllers.html">4) ControllerImpl Projects</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_cli_configure'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_configure.html">5) Configure LazyStack</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_cli_publishtoaws'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_publishtoaws.html">6) Publish to AWS</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_cli_testlocalwebapi'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_testlocalwebapi.html">7) Test Local WebAPI</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_cli_petstoretest'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_petstoretest.html">8) PetStore Test</a>
                            </li>
                            <li class="{{#ifpage 'mdd_tutorial_cli_consoleapp'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/tutorial/mdd_tutorial_cli_consoleapp.html">9) Console App</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="{{#ifpage 'mdd_userguide_overview'}}is-active{{/ifpage}} menupage">
                <a href="/mdd/userguide/mdd_userguide_overview.html">UserGuide</a>
                <ul class="menu vertical nested {{#ifequal menu1 'userguide'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'mdd_userguide_generator_tools_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/userguide/generator/mdd_userguide_generator_tools_overview.html">Tools</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'generator'}}is-active{{/ifequal}}">
                            <li  class="{{#ifpage 'mdd_userguide_generator_overview'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_overview.html">Generate Projects</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_generator_stacks'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_stacks.html">Stacks Directive</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_generator_defaultapi'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_defaultapi.html">DefaultApi Directive</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_generator_apitagmap'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_apitagmap.html">ApiTagMap Directive</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_generator_awsresources'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_awsresources.html">AwsResources Directive</a>
                            </li>
                            <li class="{{#ifpage 'mdd_userguide_generator_projectoptions'}}is-active{{/ifpage}} menupage"> 
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_projectoptions.html">Project Options Directive</a>
                                <ul class="menu vertical nested {{#ifequal menu3 'project'}}is-active{{/ifequal}}">
                                    <li  class="{{#ifpage 'mdd_userguide_generator_nugetpackageversions'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/generator/mdd_userguide_generator_nugetpackageversions.html">NugetPackageVersions</a>
                                    </li>
                                    <li  class="{{#ifpage 'mdd_userguide_generator_packagereferences'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/generator/mdd_userguide_generator_packagereferences.html">PackageReferences</a>
                                    </li>
                                    <li  class="{{#ifpage 'mdd_userguide_generator_projectreferences'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/generator/mdd_userguide_generator_projectreferences.html">ProjectReferences</a>
                                    </li>
                                    <li  class="{{#ifpage 'mdd_userguide_generator_serviceregistrations'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/generator/mdd_userguide_generator_serviceregistrations.html">ServiceRegistrations</a>
                                    </li>
                                    <li  class="{{#ifpage 'mdd_userguide_generator_propertygroup'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/generator/mdd_userguide_generator_propertygroup.html">PropertyGroup</a>
                                    </li>
                                    <li  class="{{#ifpage 'mdd_userguide_generator_properties'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/generator/mdd_userguide_generator_properties.html">Properties</a>
                                    </li>
                                    <li  class="{{#ifpage 'mdd_userguide_generator_runtime'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/generator/mdd_userguide_generator_runtime.html">Runtime</a>
                                    </li>
                                    <li  class="{{#ifpage 'mdd_userguide_generator_typescriptclients'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/generator/mdd_userguide_generator_typescriptclients.html">TypeScriptClients</a>
                                    </li>
                                </ul>
                            </li> 
                            <li  class="{{#ifpage 'mdd_userguide_generator_awstemplate'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_awstemplate.html">AwsTemplate</a>
                            </li>                    
                            <li  class="{{#ifpage 'mdd_userguide_generator_warningescapedcharacters'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_warningescapedcharacters.html">Warning Escaped Characters</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_generator_mergepriority'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_mergepriority.html">Resource Merge Priority</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_generator_aws_settings'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/generator/mdd_userguide_generator_aws_settings.html">Generate AWS Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{{#ifpage 'mdd_userguide_stacks_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/mdd/userguide/stacks/mdd_userguide_stacks_overview.html">Serverless Stacks</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'stacks'}}is-active{{/ifequal}}">
                            <li  class="{{#ifpage 'mdd_userguide_stacks_aws_serverless'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/stacks/mdd_userguide_stacks_aws_serverless.html">AWS Serverless Stacks</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_stacks_lazystack_stacks'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/stacks/mdd_userguide_stacks_lazystack_stacks.html">LazyStack MDD Generator</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_stacks_openapi'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/stacks/mdd_userguide_stacks_openapi.html">OpenAPI Specification</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_stacks_cognito'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/stacks/mdd_userguide_stacks_cognito.html">AWS Cognito</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_stacks_apigateway_overview'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/stacks/apigateway/mdd_userguide_stacks_apigateway_overview.html">Api Gateways</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_stacks_apigateway_multiplegateways'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/stacks/apigateway/mdd_userguide_stacks_apigateway_multiplegateways.html">Multiple Api Gateways</a>
                            </li>
        
                            <li class="{{#ifpage 'mdd_userguide_stacks_lambda_overview'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/stacks/lambda/mdd_userguide_stacks_lambda_overview.html">Lambdas</a>
                                <ul class="menu vertical nested {{#ifequal menu3 'lambdas'}}is-active{{/ifequal}}">
                                     <li  class="{{#ifpage 'mdd_userguide_stacks_lambda_function'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/stacks/lambda/mdd_userguide_stacks_lambda_function.html">Lambda Functions</a>
                                     </li>
                                     <li  class="{{#ifpage 'mdd_userguide_stacks_lambda_controllers'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/stacks/lambda/mdd_userguide_stacks_lambda_controllers.html">Controllers</a>
                                     </li>
                                     <li  class="{{#ifpage 'mdd_userguide_stacks_lambda_methods'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/stacks/lambda/mdd_userguide_stacks_lambda_methods.html">Event Methods</a>
                                     </li>
                                     <li  class="{{#ifpage 'mdd_userguide_stacks_lambda_debugging'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/stacks/lambda/mdd_userguide_stacks_lambda_debugging.html">Debugging</a>
                                     </li>
                                     <li  class="{{#ifpage 'mdd_userguide_stacks_lambda_tests'}}is-active{{/ifpage}} menupage">
                                        <a href="/mdd/userguide/stacks/lambda/mdd_userguide_stacks_lambda_tests.html">Test Projects</a>
                                     </li>
                                </ul>
            
                            </li>

                        </ul>
                    </li>
                    <li class="{{#ifpage 'mdd_userguide_clientsdk_overview'}}is-active{{/ifpage}} menupage">
                        <a  href="/mdd/userguide/clientsdk/mdd_userguide_clientsdk_overview.html">Client SDK</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'sdk'}}is-active{{/ifequal}}">
                            <li  class="{{#ifpage 'mdd_userguide_clientsdk_clientsdk'}}is-active{{/ifpage}} menupage">
                                <a  href="/mdd/userguide/clientsdk/mdd_userguide_clientsdk_clientsdk.html">C# ClientSDK Project</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_clientsdk_schema'}}is-active{{/ifpage}} menupage">
                                <a  href="/mdd/userguide/clientsdk/mdd_userguide_clientsdk_schema.html">C# Schema Project</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_clientsdk_using'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/clientsdk/mdd_userguide_clientsdk_using.html">Using C# ClientSDK</a>
                            </li>
                            <li  class="{{#ifpage 'mdd_userguide_clientsdk_awssettings'}}is-active{{/ifpage}} menupage">
                                <a href="/mdd/userguide/clientsdk/mdd_userguide_clientsdk_awssettings.html">AwsSettings</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
        </ul>
    </li>

    <li class="{{#ifpage 'libraries_overview'}}is-active{{/ifpage}} menupage">
        <a  href="/libraries/libraries_overview.html">LazyStack Libraries</a>

        <ul class="menu vertical nested {{#ifequal menu0 'libs'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'libraries_lazystackauth'}}is-active{{/ifpage}} menupage"> 
                <a href="/libraries/lazystackauth/libraries_lazystackauth.html">LazyStackAuth</a>

                <ul class="menu vertical nested {{#ifequal menu1 'auth'}}is-active{{/ifequal}}">
                    <li  class="{{#ifpage 'libraries_lazystackauth_authmessages'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/libraries_lazystackauth_authmessages.html">AuthMessages</a>
                    </li>
                    <li  class="{{#ifpage 'libraries_lazystackauth_authprovider'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/libraries_lazystackauth_authprovider.html">AuthProvider</a>
                    </li>

                    <li  class="{{#ifpage 'libraries_lazystackauth_authprocess'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/libraries_lazystackauth_authprocess.html">AuthProcess</a>
                    </li>
                    <li  class="{{#ifpage 'libraries_lazystackauth_lzhttpclient'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/libraries_lazystackauth_lzhttpclient.html">LzHttpClient</a>
                    </li>
                </ul>
            </li>
            <li  class="{{#ifpage 'libraries_getawssettings'}}is-active{{/ifpage}} menupage">
                <a  href="/libraries/getawssettings/libraries_getawssettings.html">GetAwsSettings</a>
            </li>
            <li class="{{#ifpage 'libraries_dynamodb'}}is-active{{/ifpage}} menupage">
                <a  href="/libraries/dynamodb/libraries_dynamodb.html">DynamoDBRepo</a>
                <ul class="menu vertical nested {{#ifequal menu1 'dynamo'}}is-active{{/ifequal}}">
                    <li  class="{{#ifpage 'libraries_dynamodb_ermodel'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/dynamodb/libraries_dynamodb_ermodel.html">PetStore ER Model</a>
                    </li>
                    <li  class="{{#ifpage 'libraries_dynamodb_intro'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/dynamodb/libraries_dynamodb_intro.html">DynamoDB Intro</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="{{#ifpage 'roadmap_overview'}}is-active{{/ifpage}} menupage">
        <a href="/roadmap/roadmap_overview.html">Product RoadMap</a>
        <ul class="menu vertical nested {{#ifequal menu0 'roadmap'}}is-active{{/ifequal}}">
            <li  class="{{#ifpage 'saas'}}is-active{{/ifpage}} menupage">
                <a  href="/roadmap/saas.html">SaaS</a>
            </li>            <li  class="{{#ifpage 'mdd'}}is-active{{/ifpage}} menupage">
                <a  href="/roadmap/mdd.html">MDD</a>
            </li>
            <li  class="{{#ifpage 'lazystackrepo'}}is-active{{/ifpage}} menupage">
                <a  href="/roadmap/lazystackrepo.html">Libraries</a>
            </li>

            <li  class="{{#ifpage 'smf'}}is-active{{/ifpage}} menupage">
                <a  href="/roadmap/smf.html">SMF</a>
            </li>
        </ul>
    </li>
    <li class="{{#ifpage 'contact_contact'}}is-active{{/ifpage}} menupage">
        <a href="/contact/contact_contact.html">Contact Us</a>
    </li>

    <li class="{{#ifpage 'smf_overview'}}is-active{{/ifpage}} menupage">
        <a href="/legacy/smf_overview.html">Legacy SMF Project</a>
        <ul class="menu vertical nested {{#ifequal menu0 'legacy'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'intro_techoverviewsmf'}}is-active{{/ifpage}} menupage">
                <a href="/legacy/intro_techoverviewsmf.html">Software Mgmt. Framework</a> 
            </li>
            <li><a href="/legacy/smf_create_org_checklist.html">Configure SMF</a>
                <ul class="menu vertical nested {{#ifequal menu1 'configure'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'smf_create_org_checklist'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_create_org_checklist.html">Preparation Checklist</a>
                    </li>
                    <li class="{{#ifpage 'smf_create_github_acct'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_create_github_acct.html">1) Create GitHub Account</a>
                    </li>
                    <li class="{{#ifpage 'smf_config_mgmt_workstation'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_config_mgmt_workstation.html">2) Configure Workstation</a>
                    </li>
                    <li class="{{#ifpage 'smf_create_mgmt_acct'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_create_mgmt_acct.html">3) AWS Mgmt. Account</a>
                    </li>
                    <li class="{{#ifpage 'smf_create_org'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_create_org.html">4) Create AWS Org</a>
                    </li>
                    <li class="{{#ifpage 'smf_create_dev_acct'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_create_dev_acct.html">5) Create Dev Account(s)</a>
                    </li>
                    <li class="{{#ifpage 'smf_awsdepguide'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_awsdepguide.html">Deployment Summary</a>
                    </li>
                </ul>
            </li>
            <li><a href="/legacy/smf_devsandbox.html">SMF User Guide</a>
                <ul  class="menu vertical nested {{#ifequal menu1 'userguide'}}is-active{{/ifequal}}">
                    <li  class="{{#ifpage 'smf_devsandbox'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_devsandbox.html">Developer Sandbox</a>
                    </li>
                    <li  class="{{#ifpage 'smf_gitrepos'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_gitrepos.html">Git Repository Integration</a>
                    </li>
                    <li  class="{{#ifpage 'smf_devworkflow'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_devworkflow.html">Developer Workflow</a>
                    </li>
                    <li  class="{{#ifpage 'smf_namedprofiles'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_namedprofiles.html">Named Profiles</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lzconfigure'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_lzconfigure.html">LzConfigure Script</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lznewdevacct'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_lznewdevacct.html">LzNewDevAccount Script</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lzupdatedevcreds'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_lzupdatedevcreds.html">LzUpdateDevCreds Script</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lzdeploypipeline'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_lzdeploypipeline.html">LzDeployPipeline Script</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lzrotatekeys'}}is-active{{/ifpage}} menupage">
                        <a href="/legacy/smf_lzrotatekeys.html">Rotating Keys</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="{{#ifpage 'privacy'}}is-active{{/ifpage}} menupage">
        <a href="/privacy.html">Privacy</a>
    </li>

</ul>
<!--</div>-->