<!--
<div class="title-bar lz-r-topicmenu hamburger" data-responsive-toggle="topics-collapse" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">{{topic}}</div>
</div>
-->
<!--
<div class="top-bar fast lz-r-topicmenu dropdown outer" id="topics-collapse" data-animate="slide-in-down slide-out-up" style="white-space: nowrap">
-->
<!--<div class="top-bar fast lz-r-topicmenu" id="topics-collapse"  style="white-space: nowrap">    -->
<!--<ul class="lz-r-topicmenu vertical menu accordion-menu" id="topics-collapse" data-accordion-menu 
    data-submenu-toggle="true">-->


<ul class="vertical menu accordion-menu" id="docmenu" data-accordion-menu 
    data-submenu-toggle="true">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/intro/intro.html">Business Introduction</a>
        <ul class="menu vertical nested {{#ifequal menu1 'business'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'intro'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro.html">Overview</a>
            </li>
            <li class="{{#ifpage 'intro_smf'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_smf.html">Collaborate</a>
            </li>
            <li class="{{#ifpage 'intro_mdd'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_mdd.html">Accelerate</a>
            </li>
            <li class="{{#ifpage 'intro_serverless'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_serverless.html">Scale</a>
            </li>
            <li class="{{#ifpage 'intro_whylazystack'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_whylazystack.html">Why Choose LazyStack?</a>
            </li>
        </ul>
    </li>
    <li><a href="/intro/intro_techoverview.html">Technical Introduction</a>
        <ul class="menu vertical nested {{#ifequal menu1 'tech'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'intro_techoverview'}}is-active{{/ifpage}} menupage"><a
                    href="/intro/intro_techoverview.html">Overview</a>
            </li>
            <li class="{{#ifpage 'intro_techoverviewsmf'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_techoverviewsmf.html">Software Mgmt. Framework</a> 
            </li>
            <li class="{{#ifpage 'intro_techoverviewtools'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_techoverviewtools.html">MDD Developer Tools</a>
            </li>
            <li class="{{#ifpage 'intro_security'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_security.html">Security First</a>
            </li>
            <li class="{{#ifpage 'intro_whynet'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_whynet.html">Why .NET?</a>
            </li>
            <li class="{{#ifpage 'intro_whyaws'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_whyaws.html">Why AWS?</a>
            </li>
            <li class="{{#ifpage 'intro_dynamodb'}}is-active{{/ifpage}} menupage">
                <a href="/intro/intro_dynamodb.html">Why DynamoDB?</a>
            </li>
        </ul>
    </li>

    <li><a href="/installation/installation_overview.html">Installation</a>
        <ul class="menu vertical nested {{#ifequal menu0 'install'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'installation_overview'}}is-active{{/ifpage}} menupage">
                <a href="/installation/installation_overview.html">Overview</a>
            </li>
            <li><a href="/installation/smf_overview.html">Configure SMF</a>
                <ul class="menu vertical nested {{#ifequal menu1 'smf'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'smf_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/smf_overview.html">Overview </a>                                                   
                    </li>
                    <li class="{{#ifpage 'smf_create_org_checklist'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/smf_create_org_checklist.html">Preparation Checklist</a>
                    </li>
                    <li class="{{#ifpage 'smf_create_github_acct'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/smf_create_github_acct.html">1) Create GitHub Account</a>
                    </li>
                    <li class="{{#ifpage 'smf_config_mgmt_workstation'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/smf_config_mgmt_workstation.html">2) Configure Workstation</a>
                    </li>
                    <li class="{{#ifpage 'smf_create_mgmt_acct'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/smf_create_mgmt_acct.html">3) AWS Mgmt. Account</a>
                    </li>
                    <li class="{{#ifpage 'smf_create_org'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/smf_create_org.html">4) Create AWS Org</a>
                    </li>
                    <li class="{{#ifpage 'smf_create_dev_acct'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/smf_create_dev_acct.html">5) Create Dev Account(s)</a>
                    </li>
                    <li class="{{#ifpage 'installation_awsdepguide'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/installation_awsdepguide.html">Deployment Summary</a>
                    </li>
                </ul>
            </li>
            <li><a href="/installation/devtools_config_dev_ws.html">Configure Dev Workstation</a>
                <ul class="menu vertical nested {{#ifequal menu1 'mdd'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'devtools_config_dev_ws'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/devtools_config_dev_ws.html">Overview</a>
                    </li>
                    <li class="{{#ifpage 'devtools_config_dev_profile'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/devtools_config_dev_profile.html">1) Configure Workstation</a>
                    </li>
                    <li class="{{#ifpage 'devtools_netcore_cli'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/devtools_netcore_cli.html">2) .NET CLI Tool</a>
                    </li>
                    <li class="{{#ifpage 'devtools_visualstudio'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/devtools_visualstudio.html">3) VS IDE Windows</a>
                    </li>
                    <li class="{{#ifpage 'devtools_visualstudio_mac'}}is-active{{/ifpage}} menupage">
                        <a href="/installation/devtools_visualstudio_mac.html">4) VS IDE MacOS</a>
                    </li>
                </ul>
            
            </li>
        </ul>
    </li>

    <li><a href="/tutorial/tutorial_intro.html">Tutorials</a>
        <ul class="menu vertical nested {{#ifequal menu0 'tutorials'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'tutorial_intro'}}is-active{{/ifpage}} menupage">
                <a href="/tutorial/tutorial_intro.html">Overview</a>
            <li><a href="/tutorial/tutorial_vswin_overview.html">Visual Studio Windows</a>
                <ul class="menu vertical nested {{#ifequal menu2 'vswin'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'tutorial_vswin_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_overview.html">Overview</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_lazystack'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_lazystack.html">1) Clone LazyStack</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_petstore'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_petstore.html">2) PetStore</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_repo'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_repo.html">3) PetStoreRepo Project</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_controllers'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_controllers.html">4) ControllerImpl Projects</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_configure'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_configure.html">5) Configure LazyStack</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_publishtoaws'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_publishtoaws.html">6) Publish to AWS</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_testlocalwebapi'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_testlocalwebapi.html">7) Test Local WebAPI</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_petstoretest'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_petstoretest.html">8) PetStore Test</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_consoleapp'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_consoleapp.html">9) Console App</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_xamarinapp'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_xamarinapp.html">10) Xamarin App</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vswin_blazorapp'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vswin_blazorapp.html">11) Blazor App</a>
                    </li>
                </ul>
            </li>
            <li><a href="/tutorial/tutorial_vsmac_overview.html">Visual Studio MacOS</a>
                <ul class="menu vertical nested {{#ifequal menu2 'vsmac'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'tutorial_vsmac_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_overview.html">Overview</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_lazystack'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_lazystack.html">1) Clone LazyStack</a>
                    </li>                    
                    <li class="{{#ifpage 'tutorial_vsmac_petstore'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_petstore.html">2) PetStore</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_repo'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_repo.html">3) PetStoreRepo Project</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_controllers'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_controllers.html">4) ControllerImpl Projects</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_configure'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_configure.html">5) Configure LazyStack</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_publishtoaws'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_publishtoaws.html">6) Publish to AWS</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_testlocalwebapi'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_testlocalwebapi.html">7) Test Local WebAPI</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_petstoretest'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_petstoretest.html">8) PetStore Test</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_consoleapp'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_consoleapp.html">9) Console App</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_xamarinapp'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_xamarinapp.html">10) Xamarin App</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_vsmac_blazorapp'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_vsmac_blazorapp.html">11) Blazor App</a>
                    </li>
                </ul>
            </li>
            <li><a href="/tutorial/tutorial_cli_overview.html">.NET CLI</a>
                <ul class="menu vertical nested {{#ifequal menu2 'cli'}}is-active{{/ifequal}}">
                    <li class="{{#ifpage 'tutorial_cli_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_overview.html">Overview</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_cli_lazystack'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_lazystack.html">1) Clone LazyStack</a>
                    </li>                       
                    <li class="{{#ifpage 'tutorial_cli_petstore'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_petstore.html">2) PetStore</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_cli_repo'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_repo.html">3) PetStoreRepo Project</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_cli_controllers'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_controllers.html">4) ControllerImpl Projects</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_cli_configure'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_configure.html">5) Configure LazyStack</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_cli_publishtoaws'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_publishtoaws.html">6) Publish to AWS</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_cli_testlocalwebapi'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_testlocalwebapi.html">7) Test Local WebAPI</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_cli_petstoretest'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_petstoretest.html">8) PetStore Test</a>
                    </li>
                    <li class="{{#ifpage 'tutorial_cli_consoleapp'}}is-active{{/ifpage}} menupage">
                        <a href="/tutorial/tutorial_cli_consoleapp.html">9) Console App</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li><a href="/userguide/userguide_overview.html">UserGuide</a>
        <ul class="menu vertical nested {{#ifequal menu0 'userguide'}}is-active{{/ifequal}}">
            <li class="{{#ifpage 'userguide_overview'}}is-active{{/ifpage}} menupage">
                <a href="/userguide/userguide_overview.html">Overview</a>
            </li>
            <li><a href="/userguide/smf_overview.html">Software Mgmt. Framework</a>
                <ul  class="menu vertical nested {{#ifequal menu1 'smf'}}is-active{{/ifequal}}">
                    <li  class="{{#ifpage 'smf_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_overview.html">Overview</a>
                    </li>
                    <li  class="{{#ifpage 'smf_devsandbox'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_devsandbox.html">Developer Sandbox</a>
                    </li>
                    <li  class="{{#ifpage 'smf_gitrepos'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_gitrepos.html">Git Repository Integration</a>
                    </li>
                    <li  class="{{#ifpage 'smf_devworkflow'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_devworkflow.html">Developer Workflow</a>
                    </li>
                    <li  class="{{#ifpage 'smf_namedprofiles'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_namedprofiles.html">Named Profiles</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lzconfigure'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_lzconfigure.html">LzConfigure Script</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lznewdevacct'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_lznewdevacct.html">LzNewDevAccount Script</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lzupdatedevcreds'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_lzupdatedevcreds.html">LzUpdateDevCreds Script</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lzdeploypipeline'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_lzdeploypipeline.html">LzDeployPipeline Script</a>
                    </li>
                    <li  class="{{#ifpage 'smf_lzrotatekeys'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/smf_lzrotatekeys.html">Rotating Keys</a>
                    </li>
                </ul>


            </li>
            <li><a href="/userguide/generator_tools_overview.html">LazyStack MDD Tools</a>
                <ul class="menu vertical nested {{#ifequal menu1 'mdd'}}is-active{{/ifequal}}">
                    <li  class="{{#ifpage 'generator_tools_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_tools_overview.html">Overview</a>
                    </li>
                    <li  class="{{#ifpage 'generator_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_overview.html">Generate Projects</a>
                    </li>
                    <li  class="{{#ifpage 'generator_stacks'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_stacks.html">Stacks Directive</a>
                    </li>
                    <li  class="{{#ifpage 'generator_defaultapi'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_defaultapi.html">DefaultApi Directive</a>
                    </li>
                    <li  class="{{#ifpage 'generator_apitagmap'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_apitagmap.html">ApiTagMap Directive</a>
                    </li>
                    <li  class="{{#ifpage 'generator_awsresources'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_awsresources.html">AwsResources Directive</a>
                    </li>
                    <li> <a href="/userguide/generator_projectoptions.html">Project Options Directive</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'project'}}is-active{{/ifequal}}">
                            <li  class="{{#ifpage 'generator_projectoptions'}}is-active{{/ifpage}} menupage">
                                <a href="/userguide/generator_projectoptions.html">Overview</a>
                            </li>
                            <li  class="{{#ifpage 'generator_nugetpackageversions'}}is-active{{/ifpage}} menupage">
                                <a href="/userguide/generator_nugetpackageversions.html">NugetPackageVersions</a>
                            </li>
                            <li  class="{{#ifpage 'generator_packagereferences'}}is-active{{/ifpage}} menupage">
                                <a href="/userguide/generator_packagereferences.html">PackageReferences</a>
                            </li>
                            <li  class="{{#ifpage 'generator_projectreferences'}}is-active{{/ifpage}} menupage">
                                <a href="/userguide/generator_projectreferences.html">ProjectReferences</a>
                            </li>
                            <li  class="{{#ifpage 'generator_serviceregistrations'}}is-active{{/ifpage}} menupage">
                                <a href="/userguide/generator_serviceregistrations.html">ServiceRegistrations</a>
                            </li>
                            <li  class="{{#ifpage 'generator_properties'}}is-active{{/ifpage}} menupage">
                                <a href="/userguide/generator_properties.html">Properties</a>
                            </li>
                            <li  class="{{#ifpage 'generator_runtime'}}is-active{{/ifpage}} menupage">
                                <a href="/userguide/generator_runtime.html">Runtime</a>
                            </li>
                        </ul>
                    </li>
                    <li  class="{{#ifpage 'generator_warningescapedcharacters'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_warningescapedcharacters.html">Warning Escaped Characters</a>
                    </li>
                    <li  class="{{#ifpage 'generator_mergepriority'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_mergepriority.html">Resource Merge Priority</a>
                    </li>
                    <li  class="{{#ifpage 'generator_aws_settings'}}is-active{{/ifpage}} menupage">
                        <a href="/userguide/generator_aws_settings.html">Generate AWS Settings</a>
                    </li>
                </ul>
            </li>
            <li><a href="/stacks/stacks_overview.html">Serverless Stacks</a>
                <ul class="menu vertical nested {{#ifequal menu1 'stacks'}}is-active{{/ifequal}}">
                    <li  class="{{#ifpage 'stacks_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/stacks/stacks_overview.html">Overview</a>
                    </li>
                    <li  class="{{#ifpage 'stacks_aws_serverless'}}is-active{{/ifpage}} menupage">
                        <a href="/stacks/stacks_aws_serverless.html">AWS Serverless Stacks</a>
                    </li>
                    <li  class="{{#ifpage 'stacks_lazystack_stacks'}}is-active{{/ifpage}} menupage">
                        <a href="/stacks/stacks_lazystack_stacks.html">LazyStack MDD Generator</a>
                    </li>
                    <li  class="{{#ifpage 'stacks_openapi'}}is-active{{/ifpage}} menupage">
                        <a href="/stacks/stacks_openapi.html">OpenAPI Specification</a>
                    </li>
                    <li  class="{{#ifpage 'stacks_cognito'}}is-active{{/ifpage}} menupage">
                        <a href="/stacks/stacks_cognito.html">AWS Cognito</a>
                    </li>
                    <li  class="{{#ifpage 'apigateway_overview'}}is-active{{/ifpage}} menupage">
                        <a href="/stacks/apigateway/apigateway_overview.html">Api Gateways</a>
                    </li>
                    <li  class="{{#ifpage 'apigateway_multiplegateways'}}is-active{{/ifpage}} menupage">
                        <a href="/stacks/apigateway/apigateway_multiplegateways.html">Multiple Api Gateways</a>
                    </li>

                    <li><a href="/stacks/lambda/lambda_overview.html">Lambdas</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'lambdas'}}is-active{{/ifequal}}">
                            <li  class="{{#ifpage 'lambda_overview'}}is-active{{/ifpage}} menupage">
                                <a href="/stacks/lambda/lambda_overview.html">Overview</a>
                             </li>
                             <li  class="{{#ifpage 'lambda_function'}}is-active{{/ifpage}} menupage">
                                <a href="/stacks/lambda/lambda_function.html">Lambda Functions</a>
                             </li>
                             <li  class="{{#ifpage 'lambda_controllers'}}is-active{{/ifpage}} menupage">
                                <a href="/stacks/lambda/lambda_controllers.html">Controllers</a>
                             </li>
                             <li  class="{{#ifpage 'lambda_methods'}}is-active{{/ifpage}} menupage">
                                <a href="/stacks/lambda/lambda_methods.html">Event Methods</a>
                             </li>
                             <li  class="{{#ifpage 'lambda_debugging'}}is-active{{/ifpage}} menupage">
                                <a href="/stacks/lambda/lambda_debugging.html">Debugging</a>
                             </li>
                             <li  class="{{#ifpage 'lambda_tests'}}is-active{{/ifpage}} menupage">
                                <a href="/stacks/lambda/lambda_tests.html">Test Projects</a>
                             </li>
                        </ul>
    
                    </li>
                </ul>
            </li>
            <li><a  href="/clientsdk/clientsdk_overview.html">Client SDK</a>
                <ul class="menu vertical nested {{#ifequal menu1 'sdk'}}is-active{{/ifequal}}">
                    <li  class="{{#ifpage 'clientsdk_overview'}}is-active{{/ifpage}} menupage">
                        <a  href="/clientsdk/clientsdk_overview.html">Overview</a>
                    </li>
                    <li  class="{{#ifpage 'clientsdk_clientsdk'}}is-active{{/ifpage}} menupage">
                        <a  href="/clientsdk/clientsdk_clientsdk.html">ClientSDK Project</a>
                    </li>
                    <li  class="{{#ifpage 'clientsdk_schema'}}is-active{{/ifpage}} menupage">
                        <a  href="/clientsdk/clientsdk_schema.html">Schema Project</a>
                    </li>
                    <li  class="{{#ifpage 'clientsdk_awssettings'}}is-active{{/ifpage}} menupage">
                        <a href="/clientsdk/clientsdk_awssettings.html">AwsSettings</a>
                    </li>
                    <li  class="{{#ifpage 'clientsdk_using'}}is-active{{/ifpage}} menupage">
                        <a href="/clientsdk/clientsdk_using.html">Using the ClientSDK</a>
                    </li>
                </ul>
            </li>
            <li><a  href="/libraries/libraries_overview.html">Libraries</a>
                <ul class="menu vertical nested {{#ifequal menu1 'libs'}}is-active{{/ifequal}}">
                    <li  class="{{#ifpage 'libraries_overview'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/libraries_overview.html">Overview</a>
                    </li>
                    <li  class="{{#ifpage 'lazystackauth_lazystackauth'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/lazystackauth_lazystackauth.html">LazyStackAuth</a>
                    </li>
                    <li  class="{{#ifpage 'lazystackauth_authmessages'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/lazystackauth_authmessages.html">AuthMessages</a>
                    </li>
                    <li  class="{{#ifpage 'lazystackauth_authprovider'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/lazystackauth_authprovider.html">AuthProvider</a>
                    </li>
                    <li  class="{{#ifpage 'lazystackauth_authprocess'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/lazystackauth_authprocess.html">AuthProcess</a>
                    </li>
                    <li  class="{{#ifpage 'lazystackauth_lzhttpclient'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/lazystackauth/lazystackauth_lzhttpclient.html">LzHttpClient</a>
                    </li>
                    <li  class="{{#ifpage 'getawssettings_getawssettings'}}is-active{{/ifpage}} menupage">
                        <a  href="/libraries/getawssettings/getawssettings_getawssettings.html">GetAwsSettings</a>
                    </li>

                    <li><a  href="/libraries/dynamodb/dynamodb_overview.html">DynamoDBRepo</a>
                        <ul class="menu vertical nested {{#ifequal menu2 'dynamo'}}is-active{{/ifequal}}">
                            <li  class="{{#ifpage 'dynamodb_overview'}}is-active{{/ifpage}} menupage">
                                <a  href="/libraries/dynamodb/dynamodb_overview.html">Overview</a>
                            </li>
                            <li  class="{{#ifpage 'dynamodb_ermodel'}}is-active{{/ifpage}} menupage">
                                <a  href="/libraries/dynamodb/dynamodb_ermodel.html">PetStore ER Model</a>
                            </li>
                            <li  class="{{#ifpage 'dynamodb_intro'}}is-active{{/ifpage}} menupage">
                                <a  href="/libraries/dynamodb/dynamodb_intro.html">DynamoDB Intro</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="/roadmap/roadmap_overview.html">Product RoadMap</a>
        <ul class="menu vertical nested {{#ifequal menu0 'roadmap'}}is-active{{/ifequal}}">
            <li  class="{{#ifpage 'roadmap_overview'}}is-active{{/ifpage}} menupage">
                <a href="/roadmap/roadmap_overview.html">Overview</a>
            </li>
            <li  class="{{#ifpage 'mdd'}}is-active{{/ifpage}} menupage">
                <a  href="/roadmap/mdd.html">MDD</a>
            </li>
            <li  class="{{#ifpage 'smf'}}is-active{{/ifpage}} menupage">
                <a  href="/roadmap/smf.html">SMF</a>
            </li>
            <li  class="{{#ifpage 'lazystackrepo'}}is-active{{/ifpage}} menupage">
                <a  href="/roadmap/lazystackrepo.html">LazyStack Repository</a>
            </li>
        </ul>
    </li>

    <li class="{{#ifpage 'contact_contact'}}is-active{{/ifpage}} menupage">
        <a href="/contact/contact_contact.html">Contact Us</a>
    </li>

    <li class="{{#ifpage 'privacy'}}is-active{{/ifpage}} menupage">
        <a href="/privacy.html">Privacy</a>
    </li>

</ul>
<!--</div>-->