<div class="title-bar lz-r-sitemenu hamburger" data-responsive-toggle="sitemenu-collapse"
  data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title" style="padding-left: 8px;">{{section}}</div>
</div>

<div class="top-bar fast lz-r-sitemenu dropdown outer" id="sitemenu-collapse" data-animate="slide-in-down slide-out-up">
    <ul class="vertical medium-horizontal menu dropdown inner">

      <li  id="index">
        <a href="/index.html"><span class="{{#ifequal section 'Homepage' }}lz-r-sectionitem{{/ifequal}}">Home</span></a>
      </li>

      <li id="introdocs" >
        <a href="/intro/intro.html">
          <span class="{{#ifequal section 'Introduction'}}lz-r-sectionitem{{/ifequal}}">Introduction</span></a>
      </li>

      <li id="installation">
        <a href="/installation/installation_overview.html">
          <span class="{{#ifequal section 'Install'}}lz-r-sectionitem{{/ifequal}}">Install</span>
        </a>
      </li>

      <li id="tutorialdocs">
        <a href="/tutorial/tutorial_intro.html">
          <span class="{{#ifequal section 'Tutorial'}}lz-r-sectionitem{{/ifequal}}">Tutorial</span>
        </a>
      </li>


      <li id="stacks">
        <a href="/stacks/stacks_overview.html">
          <span class="{{#ifequal section 'Stacks'}}lz-r-sectionitem{{/ifequal}}">Stacks</span>
        </a>
      </li>

      <li id="clientsdkdocs">
        <a href="/clientsdk/clientsdk_overview.html">
          <span class="{{#ifequal section 'ClientSDK'}}lz-r-sectionitem{{/ifequal}}">ClientSDK</span>
        </a>
      </li>



      <li id="libraries">
        <a href="/libraries/libraries_overview.html">
          <span class="{{#ifequal section 'Libraries'}}lz-r-sectionitem{{/ifequal}}">Libraries</span>
        </a>
      </li>


      <li id="generatordocs">
        <a href="/generator/generator_overview.html">
            <span class="{{#ifequal section 'Generator'}}lz-r-sectionitem{{/ifequal}}">User Guide</span>
        </a>
      </li>

      <li id="roadmap">
        <a href="/roadmap/roadmap_overview.html">
            <span class="{{#ifequal section 'Roadmap'}}lz-r-sectionitem{{/ifequal}}">RoadMap</span>
        </a>
      </li>



      <li id="contact">
        <a href="/contact/contact_contact.html">
            <span class="{{#ifequal section 'Contact'}}lz-r-sectionitem{{/ifequal}}">Contact</span>
        </a>
      </li>
    </ul>
</div>