<div class="title-bar lz-r-topicmenu hamburger" data-responsive-toggle="topics-collapse" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">{{topic}}</div>
</div>

<div class="top-bar fast lz-r-topicmenu dropdown outer" id="topics-collapse" data-animate="slide-in-down slide-out-up">
    <ul class="vertical menu dropdown">
        <li >
            <a  href="/stacks/stacks_overview.html">
                <span class="{{#ifpage 'stacks_overview'}}lz-r-topicitem{{/ifpage}}">Overview</span>
            </a>
        </li>


        <li>
            <a  href="/stacks/stacks_aws_serverless.html" >
                <span class="{{#ifpage 'stacks_aws_serverless'}}lz-r-topicitem{{/ifpage}}">AWS Serverless Stacks</span>
            </a>
        </li>
        <div style="display: {{#ifequal stacks 'awsserverless'}}inline{{else}}none{{/ifequal}}">
            <li>
                <a  href="/stacks/stacks_lazystack_stacks.html" >&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'stacks_lazystack_stacks'}}lz-r-topicitem{{/ifpage}}">LazyStack Stack Generator</span>
                </a>
            </li>
        </div>
        <li>
            <a  href="/stacks/stacks_openapi.html" >
                <span class="{{#ifpage 'stacks_openapi'}}lz-r-topicitem{{/ifpage}}">OpenAPI Specification</span>
            </a>
        </li>

        <li>
            <a  href="/stacks/stacks_cognito.html">
                <span class="{{#ifpage 'stacks_cognito'}}lz-r-topicitem{{/ifpage}}">AWS Cognito</span>
            </a>
        </li>


        <li >
            <a  href="/stacks/apigateway/apigateway_overview.html">
                <span class="{{#ifpage 'apigateway_overview'}}lz-r-topicitem{{/ifpage}}">ApiGateways</span>
            </a>
        </li>

        <div style="display: {{#ifequal stacks 'apigateway'}}inline{{else}}none{{/ifequal}}">
            <li>
                <a  href="/stacks/apigateway/apigateway_multiplegateways.html">&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'apigateway_multiplegateways'}}lz-r-topicitem{{/ifpage}}">Multiple Api Gateways</span>
                </a>
            </li>
        </div>

        <li >
            <a  href="/stacks/lambda/lambda_overview.html">
                <span class="{{#ifpage 'lambda_overview'}}lz-r-topicitem{{/ifpage}}">Lambdas</span>
            </a>
        </li>

        <div style="display: {{#ifequal stacks 'lambda'}}inline{{else}}none{{/ifequal}}">
            <li >
                <a  href="/stacks/lambda/lambda_function.html">&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'lambda_function'}}lz-r-topicitem{{/ifpage}}">Lambda Functions</span>
                </a>
            </li>

            <li >
                <a  href="/stacks/lambda/lambda_controllers.html">&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'lambda_controllers'}}lz-r-topicitem{{/ifpage}}">Controllers</span>
                </a>
            </li>

            <li >
                <a  href="/stacks/lambda/lambda_methods.html">&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'lambda_methods'}}lz-r-topicitem{{/ifpage}}">Event Methods</span>
                </a>
            </li>

            <li >
                <a  href="/stacks/lambda/lambda_debugging.html">&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'lambda_debugging'}}lz-r-topicitem{{/ifpage}}">Debugging</span>
                </a>
            </li>

            <li >
                <a  href="/stacks/lambda/lambda_tests.html">&nbsp;&nbsp;&nbsp;
                    <span class="{{#ifpage 'lambda_tests'}}lz-r-topicitem{{/ifpage}}">Test Projects</span>
                </a>
            </li>
        </div>
        
    </ul>
</div>