<div class="title-bar lz-r-topicmenu hamburger" data-responsive-toggle="topics-collapse" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">{{topic}}</div>
</div>

<div class="top-bar fast lz-r-topicmenu dropdown outer" id="topics-collapse" data-animate="slide-in-down slide-out-up">
    <ul class="vertical menu dropdown">
        <li >
            <a  href="/tutorial/tutorial_overview.html">
                <span class="{{#ifpage 'tutorial_overview'}}lz-r-topicitem{{/ifpage}}">Overview</span>
            </a>
        </li>

        <li >
            <a  href="/tutorial/tutorial_petstore.html">
                <span class="{{#ifpage 'tutorial_petstore'}}lz-r-topicitem{{/ifpage}}">1) PetStore</span>
            </a>
        </li>

        <li >
            <a  href="/tutorial/tutorial_controllers.html">
                <span class="{{#ifpage 'tutorial_controllers'}}lz-r-topicitem{{/ifpage}}">2) Implement Controllers</span>
            </a>
        </li>

        <li >
            <a  href="/tutorial/tutorial_configure01.html">
                <span class="{{#ifpage 'tutorial_configure01'}}lz-r-topicitem{{/ifpage}}">3) Configure LazyStack</span>
            </a>
        </li>
        
        <li >
            <a  href="/tutorial/tutorial_publishtoaws.html">
                <span class="{{#ifpage 'tutorial_publishtoaws'}}lz-r-topicitem{{/ifpage}}">4) Publish to AWS</span>
            </a>
        </li>

        <li >
            <a  href="/tutorial/tutorial_testlocalwebapi.html">
                <span class="{{#ifpage 'tutorial_testlocalwebapi'}}lz-r-topicitem{{/ifpage}}">5) Test Local WebApi</span>
            </a>
        </li>


        <li >
            <a  href="/tutorial/tutorial_petstoretest.html">
                <span class="{{#ifpage 'tutorial_petstoretest'}}lz-r-topicitem{{/ifpage}}">6) PetStore Test</span>
            </a>
        </li>

        <li >
            <a  href="/tutorial/tutorial_consoleapp.html">
                <span class="{{#ifpage 'tutorial_consoleapp'}}lz-r-topicitem{{/ifpage}}">7) Console App</span>
            </a>
        </li>

        <li >
            <a  href="/tutorial/tutorial_xamarinapp.html">
                <span class="{{#ifpage 'tutorial_xamarinapp'}}lz-r-topicitem{{/ifpage}}">8) Xamarin App</span>
            </a>
        </li>

        <li >
            <a  href="/tutorial/tutorial_blazorapp.html">
                <span class="{{#ifpage 'tutorial_blazorapp'}}lz-r-topicitem{{/ifpage}}">9) Blazor App</span>
            </a>
        </li>

    </ul>
</div>
