<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property='og:title' content='LazyStack.io' />
    <meta property='og:image' content='https://lazystack.io/assets/img/ThreeGreatTechnologies.png' />
    <meta property='og:description'
        content='LazyStack is a tool that ingests an OpenApi (swagger) REST API specification and generates the AWS Server Application Model (SAM) template and the C# AWS Lambda projects necessary to stand up a fully featured commercial-grade application stack in AWS. It also generates a client application SDK making it simple to call that stack from C# applications.' />
    <meta property='og:url' content='https://lazystack.io' />

    <title>LazyStack</title>
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <link href="/assets/prism/prism.css" rel="stylesheet" />
    <link href="/assets/prism/prismoverride.css" rel="stylesheet" />
    <link href="/assets/theme/lessons.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/mobile/jquery.mobile-events.min.js"></script>
    <script>
        var prevPage = "";
        var nextPage = "";
        var curPageFound = false;
        var page = "";
        var pageTransitionActive = false;
        function loadMenuPageList() {
            var menupages = document.getElementsByClassName("menupage");
            for (var i = 0; i < menupages.length; i++) {
                page = menupages[i].getElementsByTagName('a')[0].href;
                if (page != "") {
                    if (curPageFound) {
                        nextPage = page;
                        break;
                    }
                    // check if current page found
                    if (page == document.location.href) {
                        curPageFound = true;
                    } else {
                        prevPage = page;
                    }
                }
            }
        }
        function gotoPrevPage() {
            if (prevPage != "") {
                page = prevPage;
                var elem = $('#docpage');
                pageTransitionActive = true;
                Foundation.Motion.animateOut(elem, 'slide-right');
            }
        }
        function gotoNextPage() {
            if (nextPage != "") {
                page = nextPage;
                var elem = $('#docpage');
                pageTransitionActive = true;
                Foundation.Motion.animateOut(elem, 'slide-left');
            }
        }

        function finishPageTransition() {
            if(page != "") {
                pageTransitionActive = false;
                window.location.href= page;
               }
        }


    </script>
    <script>
        function scrollToTop() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera            
        }
    </script>
</head>

<body >
<div class="grid-container" data-sticky-container>
    <div id="touch-zone" class="grid-x" 
        data-sticky 
        data-sticky-on="small"
        data-margin-top="0"
        style="background-image: url('/assets/img/pic14.jpg');
            height: 70px;">
        <div class="cell small-1" 
            data-responsive-toggle="docmenu" 
            data-hide-for="medium">
            <button class="menu-icon" 
                type="button" 
                style="margin: 20px 10px;"
                data-toggle 
                onclick="scrollToTop()"></button>
        </div>
        <div  class="cell auto ">
            <div
                style="
                border: .125rem solid;
                border-radius: 13px;
                background-color: rgba(0, 0, 0, .40);
                width: auto;
                padding: 2px 10px 7px 10px;
                margin: 10px;
                width:235px
                ">
                <span style=
                    "font-size: 28px;
                    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
                    color: rgba(180, 23, 186, 1);
                    ">
                    <img src="/assets/img/lazyface.png" style="max-height: 40px; margin-top: -5px;"/>  
                    <span style="margin-left: -5px;">LazyStack</span>
                </span>
            </div>
        </div>            
        <div class="cell shrink" style="padding: 5px 0px 0px 0px;">
            <img 
                src="/assets/img/NavLeft.svg" 
                style="object-fit: scale-down;
                height: 50px;
                width: 38px;
                padding: 10px 0px 0px 0px;
                " 
                onClick="gotoPrevPage()"
            />
            <img 
                src="/assets/img/NavRight.svg" 
                style="object-fit: scale-down;
                height: 50px;
                width: 38px;
                padding: 10px 0px 0px 0px;
                " 
                onClick="gotoNextPage()"
            />

        </div>
    </div>

    <div id="docpage" class="grid-x" style="padding: 10px 0px 0px 0px;">
        <div class="cell medium-3 ">
            {{>menu}}
        </div>
        <div class="cell small-12 medium-9" style="padding: 10px 0px 0px 0px;">
{{>body}}
        </div>
    </div>
</div>
   
    
    <script src="/assets/js/app.js"></script>
    <script src="/assets/prism/prism.js"></script>
    <script>loadMenuPageList();</script>
    <script>

        $(function() {
            
            $('#touch-zone').on('swipeleft', function(e) { gotoNextPage(); })
                            .on('swiperight', function(e) { gotoPrevPage(); })
            });

        $(function () {
            $('#docpage').on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', 
            function(e) {
                if(pageTransitionActive) { //ToDo - there should be a better way to do this. Out of time, revisit later.
                    finishPageTransition();
                }
            }) 
           
        });
        
    </script>
</body>

</html>